@media only screen and (min-width: 1300px) {
  input[type="number"] {
  font-size: 1vw;
  width: 100%;
  margin-left: 1%;
}

input[type="submit"] {
  margin-top: 5%;
  margin-bottom: 10%;
  background-color: #cea525;
  color: white;
}
 }

@media only screen and (max-width: 400px) {
 * {
   margin: 0;
   padding: 0;
   background-color: none;
 }

 html, body {
   height: 100%;
   margin: 0;
 }
 input[type="text"] {
   border: 1px solid black;
   width: 90%;
   margin-left: 1%;
   margin-bottom: 3%;
   font-size: 4vw;
 }

 input[type="number"] {
   border: 1px solid black;
   font-size: 4vw;
   width: 90%;
   margin-left: 1%;
 }

 input[type="submit"] {
   background-color: #cea525;
   color: white;
   padding: 4px;
   margin-top: 3%;
   margin-bottom: 5%;
   margin-right: 1%;
   float: none;
 }
}
